<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Audio Player</title>
  <!-- <link rel="stylesheet" href="../assets/css/audioplayer.css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/audioplayer.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.css')}}">
  <script>
    // Get the root element
    var r = document.querySelector(':root');
    // Create a function for getting a variable value

    var rs = getComputedStyle(r);
    // Alert the value of the --blue variable
    // alert("The value of --blue is: " + rs.getPropertyValue('--blue'));

    var primary_color = rs.getPropertyValue('--primary-color');
    var secondary_color = rs.getPropertyValue('--secondary-color');

    // Create a function for setting a variable value
    function setCssVar(variable, value) {
      // Set the value of variable --blue to another value (in this case "lightblue")
      // r.style.setProperty('--blue', 'lightblue');
      r.style.setProperty(variable, value);
    }

    ///// Settings panel /////

    const audioMotionConfigs = {
      default: { alphaBars: false, ansiBands: false, barSpace: 0.1, bgAlpha: 0.7, channelLayout: "single", colorMode: "gradient", fftSize: 8192, fillAlpha: 1, frequencyScale: "log", gradient: primary_color, ledBars: false, linearAmplitude: false, linearBoost: 1, lineWidth: 0, loRes: false, lumiBars: false, maxDecibels: -25, maxFPS: 0, maxFreq: 22000, minDecibels: -85, minFreq: 20, mirror: 0, mode: 0, noteLabels: false, utlineBars: false, overlay: false, peakLine: false, radial: false, radialInvert: false, radius: 0.3, reflexAlpha: 0.15, reflexBright: 1, reflexFit: true, reflexRatio: 0, roundBars: false, showBgColor: true, showFPS: false, showPeaks: true, showScaleX: true, showScaleY: false, smoothing: 0.5, spinSpeed: 0, splitGradient: false, trueLeds: false, useCanvas: true, volume: 1, weightingFilter: "" },
      bars: { mode: 6, barSpace: .4, frequencyScale: 'bark', gradient: 'rainbow', lumiBars: false, ledBars: true, linearAmplitude: true, linearBoost: 1.6, maxFreq: 20000, minFreq: 30, reflexRatio: .1, reflexAlpha: .25, weightingFilter: 'D' },
      dual: { mode: 10, channelLayout: 'dual-combined', fillAlpha: .3, gradientLeft: 'steelblue', gradientRight: 'orangered', linearAmplitude: true, linearBoost: 1.2, lineWidth: 0, maxFreq: 16000, minFreq: 30, peakLine: true, showScaleX: false, showPeaks: true, weightingFilter: 'D' },
      wall: { mode: 2, barSpace: .1, gradient: 'prism', lumiBars: true, minDecibels: -60, maxDecibels: -30, maxFreq: 16000, minFreq: 30, showBgColor: false, showPeaks: false, showScaleX: false, weightingFilter: 'D' }
    }

    var audio_motion_preset = "default";

    function applySettings() {
      document.getElementById('settings-panel').style.display = 'none';

      var color = document.getElementById('color-input').value;
      if (color != primary_color) {
        applyColor(color);
      }

      var audioMotionPreset = document.getElementById('audio-motion-preset').value;
      if (audioMotionPreset != audio_motion_preset) {
        applyAudioMotionPreset(audioMotionPreset);
      }
    }

    function applyColor(color) {
      var newcolor = xcolor.getXcolor(color);
      primary_color = newcolor.getHexString();
      setCssVar('--primary-color', primary_color);
      var newsecondary_color = xcolor.getHsl(newcolor.hsl.h, Math.max(0, newcolor.hsl.s-12), Math.min(100, newcolor.hsl.l+12));
      secondary_color = newsecondary_color.getHexString();
      setCssVar('--secondary-color', secondary_color);

      // Trigger a primaryColorChange event
      var primaryColorChangeEvent = new Event('primaryColorChange');
      document.dispatchEvent(primaryColorChangeEvent);
    }

    function applyAudioMotionPreset(audioMotionPreset) {
      audio_motion_preset = audioMotionPreset;
      var audioMotionPresetChangeEvent = new Event('audioMotionPresetChange');
      document.dispatchEvent(audioMotionPresetChangeEvent);
    }
  </script>
  <script>
    // @ts-ignore
    var audio_files_string = {{ audio_files | tojson }};
    var audio_files = eval(audio_files_string);
    // creating audio list
    var audioList = [];
    var path = new URLSearchParams(location.search).get('path');
    for (let index = 0; index < audio_files.length; index++) {
      const file = audio_files[index];

      var track = {};
      var sources = [{ src: location.origin + "/" + ((path!=null)?path + "/":"") + file, type: 'audio/mpeg', filename: file }];
      var poster = location.origin + '/assets/images/default_poster.png';
      track.sources = sources;
      track.poster = poster;
      audioList.push(track);
    }

    document.title += " - " + path;
  </script>
</head>

<!--

  Azul slider #0075ff

-->

<body>
  <div style="position: absolute;top: 5px;left: 5px; width: 24px; height: 24px; z-index: 100;">
    <button id="show-color-picker" style="width: 24px;height: 24px;padding: 0px;background-color: black;border: 0px;margin: 5px;"
            onclick="document.getElementById('color-input').value = primary_color; document.getElementById('settings-panel').style.display = 'block';">
      <i class="fa fa-cog" style="font-size: 18px;color: var(--primary-color);"></i>
    </button>
  </div>
  <div class="row">
    <div class="column left">
      <div id="analyzer">
      </div>
      <div id="audio-container"></div>

      <div id="controls" class="controls">
      </div>

      <datalist id="tickmarks">
        <option value="-12" label="-12"></option>
        <option value="-8"></option>
        <option value="-4"></option>
        <option value="0" label="0"></option>
        <option value="4"></option>
        <option value="8"></option>
        <option value="12" label="12"></option>
      </datalist>
      <!-- partial -->
    </div>
    <div class="column middle">
      <div id="playlist_cont">
        <div style="height: 18px;"><button id="set-playlist" class="btn btn-secondary controls"
                  style="width: 20px;height: 20px;padding: 0px;margin: 4px;float: right;color: var(--primary-color);" onclick="setPlaylist(event)"><i
               class="fa fa-list"></i></button></div>
      </div>
      <div id="playlist_controls_0" class="btn-group mr-2 playlist-controls" role="group" aria-label="playlist commands"
           style="display: flex;justify-content: space-between;align-items: center;">
        <input id="player_progress" type="range" min="0" max="180" step="1" value="0" style=" width: 70%;">
        <span id="player_timer" style="color: var(--primary-color);">0:00/0:00</span>
        <button id="player_mute" type="button" id="repeat-btn" class="btn btn-secondary controls" style="width: 30px;padding-left: 10px;padding-right: 20px;">
          <i class="fa fa-volume-off" style="font-size: large;"></i>
        </button>
      </div>
      <div id="playlist_controls" class="btn-group mr-2 playlist-controls" role="group" aria-label="playlist commands">
        <button type="button" id="prev-track-btn" class="btn btn-secondary controls">
          <i class="fa fa-solid fa-backward"></i>
        </button>
        <button type="button" id="play-track-btn" class="btn btn-secondary controls">
          <i class="fa fa-solid fa-play"></i>
        </button>
        <button type="button" id="next-track-btn" class="btn btn-secondary controls">
          <i class="fa fa-solid fa-forward"></i>
        </button>
        <button type="button" id="shuffle-btn" class="btn btn-secondary controls">
          <i class="fa fa-random"></i>
        </button>
        <button type="button" id="repeat-btn" class="btn btn-secondary controls">
          <i class="fa fa-repeat"></i>
        </button>
      </div>
    </div>
    <div id="lyrics" class="column right">
    </div>
  </div>

  <!-- <div id="color-picker" style="display: none; position: absolute; top: 50px; left: 50px;">
    <div style="background-color: #111;padding: 15px;border: 1px solid var(--primary-color);border-radius: 5px;display: grid;">

      <div style="display: flex;align-items: center;">
        <span style="color: var(--primary-color); margin: 0; padding: 0; margin-bottom: 5px;">Selecciona un color</span>
        <input type="color" id="color-input" value="#007bff" style="width: 25px;height: 25px;margin-left: 20px;">
      </div>
      <button id="color-apply" style="background-color: #111; border: 1px solid var(--primary-color); color: var(--primary-color); padding: 5px; border-radius: 5px;"
              onclick="applyColor(document.getElementById('color-input').value);">Aplicar</button>
    </div>
  </div> -->

  <div id="settings-panel" class="settings-panel">
    <div class="wrapper">
      <button class="btn btn-secondary controls" style="width: 20px; height: 20px; margin: 0px; padding: 2px; float: right;"
              onclick="document.getElementById('settings-panel').style.display = 'none';">
        <i class="fa fa-times"></i>
      </button>
      <div class="form">
        <div style="display: flex; align-items: start; justify-content: space-between; height: 50px;">
          <span style="font-size: 22px; font-weight: bold;">Settings</span>
        </div>
        <form>
          <p class="full-width" style="display: inline-flex; align-items: center;">
            <label for="">Primary Color</label>
            <input type="color" id="color-input" value="" style="width: 25px;height: 25px;margin-left: 20px; padding: inherit;">
            <!-- <input type="button" id="color-input" value="" style="width: 25px;height: 25px;margin-left: 20px; padding: inherit; background-color: var(--primary-color);border: 4px solid #111; outline-color: var(--primary-color);" 
            onclick="colorPicker.show(event.clientX, event.clientY, function(color){this.value=color; this.style.backgroundColor=color;}, 'hsl');">
          </p> -->
          <p class="full-width" style="display: inline-flex; align-items: center;">
            <label for="">Analyzer presets</label>
            <select name="audio-motion-preset" id="audio-motion-preset">
              <option value="default">default</option>
              <option value="bars">bars</option>
              <option value="dual">dual</option>
              <option value="wall">wall</option>
            </select>
          </p>
          <!--           <p>
            <label for="">Email Address</label>
            <input type="text">
          </p>
          <p>
            <label for="">Topic</label>
            <input type="text">
          </p>
          <p class="full-width">
            <label for="">Write your message</label>
            <textarea name="" id="" cols="30" rows="7"></textarea>
          </p> -->
          <p class="full-width">
            <button type="button" class="btn btn-secondary controls" style="float: right;" onclick="applySettings(event);">Ok</button>
          </p>
        </form>
      </div>
    </div>
  </div>


  <div id="treedialog">
    <div id="tree"></div>
    <div>
      <button id="btn" onclick="getSelections()" class="btn btn-secondary controls" style="color: var(--primary-color);">Accept</button>
    </div>
  </div>

  <script>
    function getMusicFoldersTree() {
      $.ajax({
        url: '/api/getMusicFolderTree',
        type: 'GET',
        success: function (data) {
          renderTree([data], document.getElementById('tree'), '/');
          treedialog.style.visibility = 'visible';
        }
      });
    }

    function renderTree(data, parentElement, path) {
      const ul = document.createElement('ul');
      parentElement.appendChild(ul);

      let children = [];
      data.forEach((item) => {
        const li = document.createElement('li');
        const span = document.createElement('span');
        span.textContent = item.name;
        span.className = item.type;
        li.appendChild(span);
        if (item.type == 'folder') {
          newpath = path.charAt(0) == '/' ? path + item.name + '/' : path + item.name;
          newpath = newpath.replace('/filestore/', '/');
          li.path = newpath;
          li.title = newpath;
          span.textContent = newpath;
          const btn = document.createElement('input');
          btn.type = 'checkbox';
          li.appendChild(btn);
        } else {
          children.push(item.name);
        }
        ul.appendChild(li);

        if (parentElement.tagName == 'LI') {
          let cb = parentElement.querySelectorAll('input[type="checkbox"]')[0];
          cb.dataset.path = path;
          cb.dataset.children = children;
        }

        if (item.children && item.children.length > 0) {
          renderTree(item.children, li, newpath);
        }
      });
    }

    const treedialog = document.getElementById('treedialog');
    const treeContainer = document.getElementById('tree');
    //renderTree([data], treeContainer, '');


    function getSelections() {
      const selected = [];
      const checkboxes = treeContainer.querySelectorAll('input[type="checkbox"]:checked');
      checkboxes.forEach((checkbox) => {
        checkbox.dataset.children.split(',').forEach(child => {
          selected.push(checkbox.dataset.path.replace('/', '') + child);
        });
      });
      //alert(selected.join('\n'));
      treedialog.style.visibility = 'hidden';
      genPlaylist(selected);
    }

    function setPlaylist(event) {
      if (treedialog.style.visibility == 'visible') {
        treedialog.style.visibility = 'hidden';
        return;
      }
      treedialog.style.left = event.clientX - treedialog.offsetWidth + 'px';
      treedialog.style.top = event.clientY + 20 + 'px';
      getMusicFoldersTree();
    }

    function genPlaylist(audioList_) {
      audio_files = audioList_;
      audioList = [];
      for (let index = 0; index < audio_files.length; index++) {
        const file = audio_files[index];

        var track = {};
        var sources = [{ src: location.origin + "/" + file, type: 'audio/mpeg', filename: file }];
        var poster = location.origin + '/assets/images/default_poster.png';
        track.sources = sources;
        track.poster = poster;
        audioList.push(track);
      }
      //var playlist = Playlist.from(audioList, mediaElement);
      var playlistChangeEvent = new CustomEvent('playlistChangeEvent', { detail: audioList });
      document.dispatchEvent(playlistChangeEvent);
    }

  </script>

  <!-- <script type="module" src="../assets/js/vertical-slider.js"></script> -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/xutils/xutils.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/xhtmlColors.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/xcolor.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/xcolorcpicker.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/xvertical-slider.js')}}"></script>
  <script type="module" src="../assets/js/audioplayer.js"></script>

</body>

</html>
<script>
  //var colorPicker = new xcolorcpicker();
</script>